@using eweb.Domain.Constants
@model IEnumerable<eweb.Domain.Entities.Lesson>

@{
    ViewData["Title"] = "Уроки";
    bool isAdmin = User.IsInRole(RoleNames.Admin);
    var lessons = Model.ToList();
}

<h1>Уроки</h1>

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            Створити урок
        </a>

        <a asp-controller="Categories"
           asp-action="Index"
           class="btn btn-outline-secondary ms-2">
            Керування категоріями
        </a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Опис</th>

            @if (isAdmin)
            {
                <th>Статус</th>
                <th>Створено</th>
            }

            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var lesson = lessons[i];

            <tr>
                <td>
                    @(isAdmin? lesson.Number: i + 1)
                </td>

                <td>@lesson.Title</td>
                <td>@lesson.Category?.Name</td>
                <td>@lesson.Description</td>

                @if (isAdmin)
                {
                    <td>
                        @if (lesson.IsPublished)
                        {
                            <span class="badge bg-success">
                                Опубліковано
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">
                                Чернетка
                            </span>
                        }
                    </td>

                    <td>
                        @lesson.CreatedAt
                    </td>
                }

                <td>

                    <a asp-action="Details"
                       asp-route-id="@lesson.Id"
                       class="btn btn-sm btn-outline-primary">
                        Переглянути
                    </a>

                    @if (isAdmin)
                    {
                        <a asp-action="Edit"
                           asp-route-id="@lesson.Id"
                           class="btn btn-sm btn-outline-warning">
                            Редагувати
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@lesson.Id"
                           class="btn btn-sm btn-outline-danger">
                            Видалити
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>