@model eweb.Web.Models.ExercisePlay.ExerciseRunViewModel
@using System.Text.Json
@using eweb.Web.Models.ExercisePlay

<h2>@Model.ExerciseTitle</h2>

@if (Model.IsFinished)
{
    <p>Цей запуск вже завершений.</p>
}
else
{
    @foreach (var task in Model.Tasks)
    {
        <div style="margin-bottom:30px;">
            <h4>@task.QuestionText</h4>

            @* MULTIPLE CHOICE *@
            @if (task.Type == "MultipleChoice")
            {
                var data = JsonSerializer.Deserialize<MultipleChoiceData>(task.DataJson) ?? new MultipleChoiceData();

                <form asp-action="SubmitTask" method="post">
                    <input type="hidden" name="attemptId" value="@Model.AttemptId" />
                    <input type="hidden" name="taskId" value="@task.TaskId" />
                @if (data.Options != null)
                {
                    @for (int i = 0; i < data.Options.Count; i++)
                    {
                        <div>
                            <input type="checkbox" name="selectedIndexes" value="@i" />
                            <label>@data.Options[i]</label>
                        </div>
                    }
                }

                 <button type="submit">Перевірити</button>
                </form>
            }

            @* FILL GAPS *@
            else if (task.Type == "FillGaps")
            {
                <p>TODO: FillGaps</p>
            }

            @* REORDER *@
            else if (task.Type == "Reorder")
            {
                <p>TODO: Reorder</p>
            }

            @* MATCH PAIRS *@
            else if (task.Type == "MatchPairs")
            {
                <p>TODO: MatchPairs</p>
            }
        </div>
    }

    <form asp-action="Finish" method="post">
        <input type="hidden" name="attemptId" value="@Model.AttemptId" />
        <button type="submit">Завершити</button>
    </form>
}